<%= form_with model: @task do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p> <%= f.label :description %> </p>
  <p> <%= f.text_area :description %> </p>

  <p> <%= f.label :status %> </p>
  <p> <%= f.text_field :status %> </p>

  <p> <%= f.label :creator %> </p>
  <p> <%= f.text_field :creator %> </p>

  <p> <%= f.label :performer %> </p>
  <p> <%= f.text_field :performer %> </p>

  <p> <%= f.label :completed %> </p>
  <p> <%= f.text_field :completed %> </p>

  <p> <%= f.submit %> </p>
<% end %>
